html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.logo {
    margin-right: 40px;
    padding: 10px;
    background: #242841;
    border-radius: 15px;
}

.logo a:hover{
    text-decoration: none;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.nav-left {
    display: flex;
    justify-content: flex-end;
}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

.nav-menu li {
    margin-bottom: 10px;
}

.nav-menu li a {
    display: block;
    padding: 5px;
    color: #333;
    text-decoration: none;
}

.nav-menu li a:hover {
    background-color: #ccc;
}

aside {
    width: 200px;
    float: left;
    background-color: #f1f1f1;
    padding: 10px;
}

section {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2em;
    margin-top: 0;
}

main {
    flex: 1;
    display: flex;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 5px;
    text-align: center;
    margin-top: auto;
}

.card-wrapper {
    position: relative;
    height: 350px;
}

.card {
    background-color: #333;
    color: white;
    width: 600px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    border-radius: 15px;
    text-align: center;
}

.card h2 {
    margin: 0;
}

.flip-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
}

.card_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.correct-btn,
.wrong-btn {
    background-color: #44a601;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px;
}

.wrong-btn {
    background-color: #910101;
}

@media screen and (max-width: 600px) {
    .card-buttons {
        flex-direction: column;
        align-items: center;
    }

    .correct-btn,
    .wrong-btn {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
