<!DOCTYPE html>
<html>
<head>
    <title>LearningCards</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><b><a style="text-decoration: none" href="/" class="logo">LearningCards</a></b></li>
            <li><a href="/clicked?link=new_quiz">Neues Quiz</a></li>
            <li><a href="/clicked?link=subjects">Meine Fächer</a></li>
            <li><a href="/clicked?link=progress">Progress</a></li>
        </ul>
        <ul>
            {% if logged_in %}
                <li><a href="/clicked?link=logout">Abmelden</a></li>
            {% else %}
                <li><a href="/clicked?link=login">Anmelden</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
<main>
    <aside>
        <ul class="nav-menu">
            {% for subject in subjects %}
                {% if subject.id == selected_subject %}
                    <li><a style="background-color: #242841; color: white"
                           href="/clicked?link={{ subject.name }}">{{ subject.name }}</a></li>
                {% else %}
                    <li><a href="/clicked?link={{ subject.name }}">{{ subject.name }}</a></li>
                {% endif %}

            {% endfor %}
            <br>
            <li><b><a href="/clicked?link=new_subject">Neues Fach</a></b></li>
        </ul>
    </aside>
    <section>
        <div class="card-wrapper">
            <div class="card">
                <h2>{{ card_text }}</h2>
                <a href="/clicked?link=flip" class="flip-btn">Flip</a>
            </div>
            {% if flipped == True %}
                <div class="card_buttons">
                    <a href="/clicked?link=correct_answer" class="correct-btn">Richtig</a>
                    <a href="/clicked?link=wrong_answer" class="wrong-btn">Falsch</a>
                </div>
            {% endif %}
        </div>
    </section>
</main>
<footer>
    <p>&copy; 2023 LearningCards. All rights reserved.</p>
</footer>
</body>
</html>
