<!DOCTYPE html>
<html>
<head>
    <title>LearningCards</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/clicked?link=new_quiz">New Quiz</a></li>
            <li><a href="/clicked?link=progress">Progress</a></li>
        </ul>
        <ul class="nav-left">
            <li><a href="/clicked?link=login">Anmelden</a></li>
        </ul>
    </nav>
</header>
<main>
    <aside>
        <ul class="nav-menu">
            {% for subject in subjects %}
            <li><a href="/clicked?link={{ subject.name }}">{{ subject.name}}</a></li>
            {% endfor %}
        </ul>
    </aside>
    <section>
        <div class="card">
            <h2>This is the Question</h2>
            <button class="flip-btn">Flip</button>
        </div>
    </section>
</main>
<footer>
    <p>&copy; 2023 LearningCards. All rights reserved.</p>
</footer>
</body>
</html>
